.carousel-item {
  max-height: 600px;
}

.card-img-top {
  aspect-ratio: 1 / 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-img-main {
  aspect-ratio: 1 / 1;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.similar-card {
  transition: all 0.25s ease;
}

.similar-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}
.grow {
  flex-grow: 1;
}
